<div class="p-top-news">
    <div class="p-top-news__inner l-inner">
        <div class="p-top-news__title">
            <%- include('../component/_c-section-title',{egTitle:'News',jaTitle:'新着情報'}) %>
        </div>
        <div class="p-top-news__items">
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
            <div class="p-top-news__item">
                <%- include('../project/_p-top-news-items') %>
            </div>
        </div>
    </div>
    <div class="p-top-news__btn">
        <%- include('../component/_c-btn',{text:'新着情報ページへ',link:'news-archive.html'}) %>
    </div>

    
</div>
    
