<div class="p-works-archive">

    <div class="p-works-archive__title">
        <%- include('../project/_p-sub-hero--works') %>
    </div>

    <div class="p-works-archive__text l-inner">
        <p>これまで瀬戸建設が携わらせて頂いた、施工現場を一部、ご紹介させていただきます。</p>
    </div>
    <!-- カード -->
    <div class="p-works-cards--3column l-inner">
        <div class="p-works-card__content">
            <div class="p-works-card__img">
                <img src="images/common/works01.jpg" alt="">
            </div>
            <div class="p-works-card__wrap">
                <div class="p-works-card__meta">
                    <span class="date">2022.2</span>
                    <p>鉄骨造 解体工事</p>
                </div>
                <div class="p-works-card__subtitle">宮津市内　Ｈ様邸住宅解体工事 </div>
                <div class="p-works-card__btn">
                    <%- include('../component/_c-btn--more',{text:'Read More',link:'works-single.html'}) %>
                </div>
            </div>

        </div>
        <div class="p-works-card__content">
            <div class="p-works-card__img">
                <img src="images/common/works02.jpg" alt="">
            </div>
            <div class="p-works-card__wrap">
                <div class="p-works-card__meta">
                    <span class="date">2022.2</span>
                    <p>鉄骨造 解体工事</p>
                </div>
                <div class="p-works-card__subtitle">宮津市内　Y様邸蔵解体工事</div>
                <div class="p-works-card__btn">
                    <%- include('../component/_c-btn--more',{text:'Read More',link:'works-single.html'}) %>
                </div>
            </div>

        </div>
        <div class="p-works-card__content">
            <div class="p-works-card__img">
                <img src="images/common/works03.jpg" alt="">
            </div>
            <div class="p-works-card__wrap">
                <div class="p-works-card__meta">
                    <span class="date">2022.2</span>
                    <p>鉄骨造 解体工事</p>
                </div>
                <div class="p-works-card__subtitle">宮津市内　某不動産様住宅・倉庫解体のち造成工事</div>
                <div class="p-works-card__btn">
                    <%- include('../component/_c-btn--more',{text:'Read More',link:'works-single.html'}) %>
                </div>
            </div>
        </div>
    </div>

    <!-- カードend -->
    <div class="p-works-archive__pagenation">

        <%- include('../component/_c-pagenation') %>

    </div>
</div>