<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>

  <%- include('./common/_top-header') %>
  <%- include('./project/_p-mv') %>
 

  <section class="l-top-about">
    <%- include('./project/_p-top-about') %>
  </section>
  
  <section class="l-top-service">
    <%- include('./project/_p-top-service') %>
    
    <div class="l-top-asbest">
      <%- include('./project/_p-top-asbest') %>
    </div>
  </section>
    
  <section class="l-top-sensible">
    <%- include('./project/_p-top-sensible') %>
  </section>
  
  <section class="l-top-works">
    <%- include('./project/_p-top-works') %>
  </section>
  
  <section class="l-top-news">
    <%- include('./project/_p-top-news') %>
  </section>
  
  <section class="l-banner">
    <%- include('./project/_p-banner') %>
  </section>
  
  <%- include('./component/_c-section-title',{egTitle:'about',jaTitle:'私たちについて'}) %>

  <%- include('./common/_footer') %>
  <%- include('./component/_c-to-top') %>


</body>
</html>




    
    
    
    
    


