<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
<!-- ヘッダー  -->
<header>
  <%- include('./common/_top-header') %>
</header>


<!-- ニュース詳細/サイドバー-->
<main>
  <%- include('./project/_p-news-single') %>
</main>


<!--フッター -->
  <footer class="l-footer">
  <%- include('./project/_p-banner') %>

  <%- include('./common/_footer') %>
  <%- include('./component/_c-to-top') %>
  </footer>

</body>
</html>




    
    
    
    
    


