<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>

  <header>
    <%- include('./common/_top-header') %>
  </header>




  <section class="l-news-archive">
    <%- include('./project/_p-sub-hero--news') %>
  </section>

  <%- include('./project/_p-news-cards') %>


  <footer class="l-footer">
    <%- include('./project/_p-banner') %>
    <%- include('./common/_footer') %>
    <%- include('./component/_c-to-top') %>
  </footer>
  

</body>
</html>
  





    
    
    
    
    


