<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>

  <%- include('./common/_top-header') %>



  
  <%- include('./project/_p-news-cards') %>


  <section class="l-banner">
    <%- include('./project/_p-banner') %>
  </section>
  

  <%- include('./common/_footer') %>
  <%- include('./component/_c-to-top') %>


</body>
</html>




    
    
    
    
    


