<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<body>
<!-- ヘッダー -->
  <%- include('./common/_top-header') %>


<!-- コンテンツ -->
<%- include('./project/_p-privacy-policy-page') %>
  
  


  <!-- フッター -->
  <section class="l-banner">
    <%- include('./project/_p-banner') %>
  </section>
  

  <%- include('./common/_footer') %>
  <%- include('./component/_c-to-top') %>


</body>
</html>




    
    
    
    
    


