<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>
        <!-- header -->
        <header>
            <%- include('./common/_top-header') %>
        </header>

        <main>
            <div class="l-sub-hero--sensible">
                <%- include('./project/_p-sub-hero--sensible') %>
            </div>
            <div class="l-sub-head--sensible">
                <%- include('./project/_p-sub-head--sensible') %>
            </div>
            <section class="l-sensible-layout">
                <%- include('./project/_p-sdgs-layout') %>
            </section>
            <section class="l-sensible-sdgs">
                <%- include('./project/_p-sensible-sdgs') %>
            </section>
        </main>

        <!-- footer -->
        <footer class="l-footer">
            <%- include('./project/_p-banner') %>
                <%- include('./common/_footer') %>
                    <%- include('./component/_c-to-top') %>
        </footer>
    </body>

</html>