<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

    <body>

        <%- include('./common/_top-header') %>
        
        <div class="l-section-title l-inner">
            <%- include('./component/_c-section-title',{egTitle:'Service',jaTitle:'業務内容'}) %>
        </div>

        <%- include('./project/_p-service-tab') %>

        <section class="l-banner">
        <%- include('./project/_p-banner') %>
        </section>


        <%- include('./common/_footer') %>
        <%- include('./component/_c-to-top') %>


    </body>

</html>